@import 'node_modules/bootstrap/scss/_mixins.scss';
@import 'node_modules/bootstrap/scss/_variables.scss';
@import '~styles/variables';

.header {
  background-color: $color-purple;

  &__spacer {
    height: 50px;

    @include media-breakpoint-up(sm) {
      height: 60px;
    }
  }
}

.header__title {
  color: #fff;
  font-family: 'Montserrat', sans-serif;
  font-weight: bold;
  flex: 1 1 auto;
  text-align: center;
  text-transform: uppercase;
}

.header__profile {
  text-decoration: none;
}

.header__profile-image {
  height: 30px;
  overflow: hidden;
  width: 30px;
}

.logo {
  font-size: 2rem;
}
