.header {
  background-image: linear-gradient(to bottom, rgb(133, 45, 145) 0%, rgb(49, 42, 108) 100%);
  display: flex;
  position: fixed;
  top: 0;
  width: 100%;
}

.header__back {
  color: #fff;
  flex: 0 0 50px;
  line-height: 50px;
  text-align: center;
}

.header__title {
  align-items: center;
  color: #fff;
  font-family: 'Montserrat';
  font-weight: bold;
  flex: 1 1 auto;
  line-height: 50px;
  text-align: center;
}

.header__profile {
  flex: 0 0 auto;
}

.header__profile-image {
  border-radius: 50%;
  height: 30px;
  overflow: hidden;
  margin-right: 10px;
  margin-top: 10px;
  width: 30px;
}
