@import 'node_modules/bootstrap/scss/_mixins.scss';
@import 'node_modules/bootstrap/scss/_variables.scss';
@import '~styles/variables';

.header {
  background-color: $color-purple;

  &__spacer {
    height: 50px;

    @include media-breakpoint-up(sm) {
      height: 60px;
    }
  }
}

.header__title {
  color: #fff;
  font-family: 'Montserrat', sans-serif;
  font-weight: bold;
  flex: 1 1 auto;
  text-align: center;
  text-transform: uppercase;
}

.header__profile {
  text-decoration: none;
}

.header__profile-image {
  border: 2px solid #fff;
  height: 30px;
  overflow: hidden;
  width: 30px;
}

.logo {
  font-size: 2rem;
}

.nav {
  font-size: 0.8rem;
  font-weight: bold;
  text-transform: uppercase;

  @include media-breakpoint-up(sm) {
    font-size: 1rem;
  }

  &__item {
    color: #fff;
    text-decoration: none;
    padding-bottom: 2px;
    padding-top: 2px;

    &--active {
      border-bottom: 2px solid #fff;
      padding-bottom: 0;
    }
  }
}
