<div class="header fixed-top">
  <div class="container-fluid">
    <div class="row align-items-center header__spacer d-flex">
      <div class="col-3">
        <h1 class="logo hidden-md-down">Cowabunga</h1>
        <i class="fa fa-chevron-left text-white hidden-lg-up" aria-hidden="true" (click)="back()" *ngIf="hasBackButton"></i>
      </div>
      <div class="col-6">
        <div class="header__title">{{title}}</div>
      </div>
      <div class="col-3">
        <a routerLink="/app/my-profile" *ngIf="hasProfileButton" class="header__profile d-flex flex-row align-items-center justify-content-end text-white">
          <div class="hidden-sm-down mr-3">{{(user | async)?.name}}</div>
          <img [src]="(user | async)?.photoURL" class="header__profile-image rounded-circle" />
        </a>
      </div>
    </div>
  </div>
</div>
<div class="header__spacer mb-3"></div>
