<div class="header fixed-top">
  <div class="container-fluid">
    <div class="row align-items-center header__spacer d-flex">
      <div class="col-9">
        <div class="nav d-flex align-items-center">
          <h1 class="logo hidden-md-down mr-5"><a routerLink="/">Cowabunga</a></h1>
          <a routerLink="/app/achievements" routerLinkActive="nav__item--active" class="nav__item mr-3">Achievements</a>
          <a routerLink="/app/feed" routerLinkActive="nav__item--active" class="nav__item mr-3">Feed</a>
          <a routerLink="/app/user-list" routerLinkActive="nav__item--active" class="nav__item mr-3">Users</a>
        </div>
      </div>
      <div class="col-3">
        <a routerLink="/app/user-profile/{{(user | async)?.$key}}" *ngIf="hasProfileButton" class="header__profile d-flex flex-row align-items-center justify-content-end text-white">
          <div class="hidden-sm-down mr-3">{{(user | async)?.name}}</div>
          <img [src]="(user | async)?.photoURL" class="header__profile-image rounded-circle" />
        </a>
      </div>
    </div>
  </div>
</div>
<div class="header__spacer"></div>
