<div class="login">
  <div class="login__heading">
    <h1>Cowabunga</h1>
  </div>
  <div class="login__buttons">
    <button (click)="loginGoogle()" class="btn button button--google">
      <div class="button__icon">
        <i class="fa fa-google" aria-hidden="true"></i>
      </div>
      <div class="button__label">
        Sign in with Google
      </div>
    </button>
    <button (click)="loginFacebook()" class="btn button button--facebook">
      <div class="button__icon">
        <i class="fa fa-facebook" aria-hidden="true"></i>
      </div>
      <div class="button__label">
        Sign in with Facebook
      </div>
    </button>
    <button (click)="loginGithub()" class="btn button button--github">
      <div class="button__icon">
        <i class="fa fa-github" aria-hidden="true"></i>
      </div>
      <div class="button__label">
        Sign in with GitHub
      </div>
    </button>
    <div *ngIf="error">{{ error }}</div>
  </div>
</div>
