@import 'node_modules/bootstrap/scss/bootstrap';
@import 'bootstrap';

body {
  background-color: #f4f4f4;
  font-family: 'Montserrat', sans-serif;
  margin: 0;
}

.container-fluid {
  max-width: 1140px;
}

.btn {
  font-family: inherit;
}

.btn-faded {
  background-color: rgba(255, 255, 255, 0.2);
  color: #fff;
}

.btn-primary, .btn-primary:hover, .btn-primary:active {
  background-color: rgb(133, 45, 145);
  border: 0;
}

.button {
  background-color: #fff;
  border: 0;
  display: flex;
  font-family: inherit;

  &__icon {
    flex: 0 0 2rem;
  }

  &__label {
    flex: 1 1 auto;
  }

  &--google {
    background-color: #dd4b39;
    color: #fff;
  }

  &--facebook {
    background-color: #3b5998;
    color: #fff;
  }

  &--github {
    background-color: #444;
    color: #fff;
  }
}

.logo {
  color: #fff;
  font-family: 'Righteous', sans-serif;
  margin: 0;
  letter-spacing: -1px;
  line-height: 1;
  text-transform: lowercase;

  & a {
    color: #fff;
    text-decoration: none;
  }
}

.cursor-pointer {
  cursor: pointer;
}
