<div class="view">
  <div class="view__header">
    <cowabunga-header hasBackButton="true" title="My Profile" [hasProfileButton]="false"></cowabunga-header>
  </div>
  <div class="view__body">
    <div class="container-fluid">
      <div class="card mb-3">
        <div class="card-block">
          <div class="row">
            <div class="col-9">
              {{user?.name}}
            </div>
            <div class="col-3">
              <img [src]="user?.photoURL" class="img-fluid" />
            </div>
          </div>
        </div>
      </div>
      <cowabunga-achievement *ngFor="let achievement of user?.achievements" [achievement]="achievement"></cowabunga-achievement>
      <cowabunga-badges [badges]="user?.badges"></cowabunga-badges>
      <button (click)="logout()" class="btn btn-primary btn-block btn-lg">Sign out</button>
    </div>
  </div>
</div>
