@import 'node_modules/bootstrap/scss/mixins';
@import '~styles/mixins';

.main-background {
  @include background-image();
  height: 160px;
  position: fixed;
  top: 0;
  width: 100%;
}

:host {
  height: 100%;
  left: 0;
  position: absolute;
  top: 0;
  width: 100%;
}
