<router-outlet></router-outlet>
<div class="container-fluid">
  <div *ngIf="isModalShown" [config]="{ show: true }" (onHidden)="onHidden()" bsModal #autoShownModal="bs-modal" class="modal" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-md">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title pull-left">You just earned a badge!</h5>
          <button type="button" class="close pull-right" aria-label="Close" (click)="hideModal()">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <cowabunga-badge [badge]="badge"></cowabunga-badge>
        </div>
      </div>
    </div>
  </div>
  <div class="footer mt-5 mb-5">
  </div>
</div>
