<cowabunga-header hasBackButton="true" title="Browse"></cowabunga-header>
<div class="mb-3">
  <agm-map [latitude]="achievement?.location.coordinates.latitude" [longitude]="achievement?.location.coordinates.longitude" [zoom]="12" [scrollwheel]="false">
    <agm-marker [latitude]="achievement?.location.coordinates.latitude" [longitude]="achievement?.location.coordinates.longitude">
      <agm-info-window [disableAutoPan]="true">
        <strong>{{ achievement?.name }}</strong>
      </agm-info-window>
    </agm-marker>
  </agm-map>
</div>
<div class="container-fluid md-3">
  <div class="row">
    <div class="col-md-8 mb-3">
      <div class="card mb-3">
        <h3 class="card-header">
          {{ achievement?.name }}
        </h3>
        <div class="card-block">
          <p class="card-text">{{ achievement?.description }}</p>
          <hr>
          <h4>User Photos</h4>
          <div class="row">
            <div class="col-4 col-md-3 mb-3">
              <img src="http://placehold.it/350x300" class="img-fluid" />
            </div>
            <div class="col-4 col-md-3 mb-3">
              <img src="http://placehold.it/350x300" class="img-fluid" />
            </div>
            <div class="col-4 col-md-3 mb-3">
              <img src="http://placehold.it/350x300" class="img-fluid" />
            </div>
            <div class="col-4 col-md-3 mb-3">
              <img src="http://placehold.it/350x300" class="img-fluid" />
            </div>
            <div class="col-4 col-md-3 mb-3">
              <img src="http://placehold.it/350x300" class="img-fluid" />
            </div>
            <div class="col-4 col-md-3 mb-3">
              <img src="http://placehold.it/350x300" class="img-fluid" />
            </div>
          </div>
        </div>
      </div>
      <cowabunga-check-in *ngIf="!userCheckedIn"></cowabunga-check-in>
    </div>
    <div class="col-md-4 mb-3">
      <div class="card mb-3">
        <div class="card-block">
          <img [src]="achievement?.imageUrl" class="img-fluid rounded" />
        </div>
      </div>
      <div class="alert alert-success" role="alert" *ngIf="userCheckedIn">
        You have been here!
      </div>
    </div>
  </div>
</div>
