<div class="card mb-3">
  <h6 class="card-header">Check-In</h6>
  <div class="card-block">
    <div class="form-group">
      <label for="experienceTextarea">Tell us about your experience:</label>
      <textarea class="form-control" id="experienceTextarea" rows="3" [(ngModel)]="description"></textarea>
    </div>
    <div class="form-group">
      <label>Date:</label>
      <input class="form-control" type="date" [ngModel]="timestamp | date:'yyyy-MM-dd'" (ngModelChange)="timestamp = $event" />
    </div>
    <div class="form-group">
      <label>Photos:</label>
      <input class="form-control" type="file" (change)="upload($event)">
      <small class="form-text text-muted">{{images.length}} files uploaded</small>
    </div>
    <button type="button" class="btn btn-primary btn-block btn-lg" (click)="checkIn()">Check In!</button>
  </div>
</div>
