<div class="card h-100" (click)="showAchievementDetails()">
  <div class="achievement__image" [style.background-image]="'url(' + achievement.imageUrl + ')'"></div>
  <div class="card-block">
    <div class="row">
      <div class="col-7 col-md-8">
        <h4 class="card-title achievement__name">{{achievement.name}}</h4>
      </div>
      <div class="col-5 col-md-4">
        <p class="text-right">
          <small class="text-muted">
            <i class="fa fa-map-marker" aria-hidden="true" title="Distance"></i>
            {{getDistance() | distance}}
          </small>
        </p>
      </div>
    </div>
    <h6 class="card-subtitle mb-2 text-muted">{{achievement.location.country}}</h6>
    <p class="card-text"><small class="text-muted">Achieve Count: {{achievement.checkInCount}}</small></p>
  </div>
</div>
