<div class="cursor-pointer card h-100" (click)="showAchievementDetails()">
  <div class="achievement__image" [style.background-image]="'url(' + achievement.imageUrl + ')'"></div>
  <div class="card-block">
    <h4 class="card-title achievement__name">{{achievement.name}}</h4>
    <h6 class="card-subtitle mb-2 text-muted">{{achievement.location.country}}</h6>
  </div>
  <div class="card-footer text-muted">
    <div class="d-flex">
      <p class="card-text pr-3 mb-0">
        <small class="text-muted" title="Check-In Count">
          <i class="fa fa-check-circle" aria-hidden="true"></i>
          {{achievement.checkInCount}}
        </small>
      </p>
      <p class="card-text mb-0">
        <small class="text-muted" title="Distance">
          <i class="fa fa-map-marker" aria-hidden="true"></i>
          {{getDistance() | distance}}
        </small>
      </p>
    </div>
  </div>
</div>
