<div class="card mt-3" (click)="showAchievementDetails()">
  <img [src]="achievement.imageUrl" class="card-img-top img-fluid">
  <div class="card-block">
    <h4 class="card-title achievement__name">{{achievement.name}}</h4>
    <h6 class="card-subtitle mb-2 text-muted">{{achievement.location.country}}, {{getDistance() | distance}}</h6>
    <p class="card-text">
      {{achievement.description}}
    </p>
    <p class="card-text"><small class="text-muted">Achieve Count: {{achievement.achievedCount}}</small></p>
  </div>
</div>
